// Fonts
@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
}

// Variables
$color-dark: #333;
$color-primary: #003153;
$font-main: 'Source Code Pro', monospace;
$bp-large: 1024px;

// Animations
@keyframes cursor {
  0% {
    color: $color-dark;
    background-color: white;
  }
  40% {
    color: $color-dark;
    background-color: white;
  }
  50% {
    color: white;
    background-color: $color-dark;
  }
  90% {
    color: white;
    background-color: $color-dark;
  }
  100% {
    color: $color-dark;
    background-color: white;
  }
}

body {
  margin: 0;
  color: $color-dark;
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
  color: $color-primary;
}

header {
  background: $color-dark;
  padding: 36px;
  @media (min-width: $bp-large) {
    display: flex;
    justify-content: space-between;
  }
}

#logo {
  text-align: center;
  margin-bottom: 36px;
  @media (min-width: $bp-large) {
    text-align: left;
    margin-bottom: 0;
  }
}

#social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (min-width: $bp-large) {
    justify-content: right;
    gap: 12px;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#site-name {
  font-family: $font-main;
  font-weight: normal;
  margin: 0;
  color: #fff;
  .cursor {
    background: #fff;
    color: $color-dark;
    animation: cursor 1s infinite;
  }
  &.static .cursor {
    animation: none;
  }
}
