// Fonts
@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
}

// Variables
$color-dark: #555;
$color-primary: #003153;
$color-secondary: #F5F0E1;
$font-main: 'Source Code Pro', monospace;
$bp-large: 1024px;

// Animations
@keyframes cursor {
  0% {
    color: $color-primary;
    background-color: white;
  }
  40% {
    color: $color-primary;
    background-color: white;
  }
  50% {
    color: white;
    background-color: $color-primary;
  }
  90% {
    color: white;
    background-color: $color-primary;
  }
  100% {
    color: $color-primary;
    background-color: white;
  }
}

body {
  margin: 0;
  color: $color-dark;
  font-size: 18px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  position: relative;
  min-height: 100vh;
  padding-bottom: 59px;
  box-sizing: border-box;
}

a {
  color: $color-primary;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: $color-dark;
}

img {
  max-width: 100%;
}

header {
  background: $color-primary;
  padding: 36px;
  @media (min-width: $bp-large) {
    display: flex;
    justify-content: space-between;
  }
}

#logo {
  text-align: center;
  margin-bottom: 36px;
  @media (min-width: $bp-large) {
    text-align: left;
    margin-bottom: 0;
  }
}

#secondary-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media (min-width: $bp-large) {
    justify-content: right;
    gap: 12px;
  }
  a {
    color: #fff;
    text-decoration: none;
    line-height: 24px;
    &:hover {
      color: $color-secondary;
      text-decoration: underline;
    }
  }
}

#site-name {
  font-family: $font-main;
  font-weight: normal;
  margin: 0;
  color: #fff;
  .cursor {
    background: #fff;
    color: $color-dark;
    animation: cursor 1s infinite;
  }
  &.static .cursor {
    animation: none;
  }
}

.stripe {
  text-align: center;
  .stripe-text-inner {
    padding: 36px;
  }
  @media (min-width: $bp-large) {
    text-align: left;
    display: flex;
    justify-content: space-between;
    .stripe-text-inner {
      padding: 64px;
    }
  }
}

footer {
  background: $color-dark;
  color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  #social-nav {
    display: flex;
    justify-content: center;
    height: 64px;
    gap: 12px;
    align-items: center;
    @media (min-width: $bp-large) {
      justify-content: right;
      gap: 36px;
      margin-right: 26px;
    }
    a {
      color: #fff;
      text-decoration: none;
      line-height: 24px;
      &:hover {
        color: $color-secondary;
        text-decoration: underline;
      }
    }
  }
}
